.vscode
fstm
fstm.exe.stackdump
fstm.exe
fstm.linux
fstm.windows
ap10/000-fstm.other
ap10/000-fstm.topic
ap10/005-fstm-stats.csv
ap10/005-fstm-topics-docs-contribute.dat
ap10/005-fstm.other
ap10/005-fstm.topic
ap10/010-fstm-stats.csv
ap10/010-fstm-topics-docs-contribute.dat
ap10/010-fstm.other
ap10/010-fstm.topic
ap10/final-fstm-stats.csv
ap10/final-fstm-topics-docs-contribute.dat
ap10/final-fstm.other
ap10/final-fstm.topic
ap10/likelihood-fstm.dat
